@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Ubuntu&display=swap");
:root {
  --red: #CD113B;
  --debian: #027978;
  --accent: #52006A;
}

* {
  font-family: 'Kdam Thmor Pro', sans-serif;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

body {
  background-color: #EAF1F5;
  overflow-x: hidden;
}

.super-container1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.super-container2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--red);
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 70vw;
  max-width: 100vh;
  margin: 20px;
}

.nav-container .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.nav-container img {
  height: 30px;
}

.nav-container ul {
  list-style: none;
  gap: 10px;
}

.nav-container ul a {
  text-decoration: none;
  color: black;
  border-radius: 1em;
  -webkit-transition: 150ms;
  transition: 150ms;
  padding: 5px 10px;
}

.nav-container ul :hover {
  border-radius: 0.7em;
  color: white;
  background-color: var(--red);
}

@media only screen and (max-width: 640px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav-container img {
    display: none;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px;
}

.hero .hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero-left h1 {
  font-size: 40px;
}

.hero .hero-left h2 {
  font-size: 20px;
  min-width: none;
  max-width: 600px;
}

.hero .hero-left .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .hero-left .hero-buttons a {
  padding: 7px;
  border-radius: 0.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

.hero .hero-left .hero-buttons .hero-descargar {
  width: 100px;
  color: white;
  border: solid 2px var(--red);
  background-color: var(--red);
}

.hero .hero-left .hero-buttons .hero-instrucciones {
  width: 140px;
  color: black;
  border: solid 2px var(--red);
  -webkit-transition: 150ms;
  transition: 150ms;
}

.hero .hero-left .hero-buttons :hover {
  color: white;
  border: solid 2px var(--accent);
  background-color: var(--accent);
}

.hero .hero-right img {
  width: 250px;
  padding: 50px 0;
}

@media only screen and (max-width: 640px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    width: 100vw;
  }
  .hero .hero-left h2 {
    width: 80vw;
    font-size: 22px;
  }
  .hero .hero-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .hero-right img {
    display: none;
  }
  .hero .hero-right .hero-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .hero-right .hero-buttons .hero-descargar {
    height: 30em;
  }
}

.waves {
  width: 100%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 50vw;
  top: -17vw;
}

.about .about-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 1.6em;
}

.about .about-desc {
  padding: 0 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  color: white;
}

.centro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  top: -15vw;
  margin-top: 100px;
}

.centro .centro-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 1.6em;
}

.centro .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70vw;
  padding: 20px;
  gap: 90px;
}

.centro .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 300px;
  height: 250px;
}

.centro .card .card-item {
  margin: 10px 0;
}

.centro .card h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6em;
}

.centro .card p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
}

@media only screen and (max-width: 950px) {
  .about {
    width: 80vw;
  }
}

.gallery-title {
  position: relative;
  padding-top: 150px;
  top: -15vw;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 1.6em;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -15vw;
  margin-bottom: -220px;
}

.gallery div :hover {
  outline: 3px solid white;
  cursor: pointer;
}

.gallery img {
  height: 300px;
  border-radius: 0.5em;
}

@media only screen and (max-width: 640px) {
  .gallery img {
    width: 100%;
    height: auto;
  }
}

.footer-waves {
  width: 101vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: -1px;
}

@media only screen and (max-width: 1257px) {
  .footer-waves {
    position: inherit;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--accent);
  width: 100vw;
  font-size: 12px;
  padding: 10px;
}

.footer-container .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
}

.footer-container .footer-first {
  font-size: 1.6em;
}

.footer-container ul {
  list-style: none;
  gap: 10px;
}

.footer-container ul a {
  text-decoration: none;
  color: white;
  border-radius: 1em;
  -webkit-transition: 150ms;
  transition: 150ms;
  padding: 5px 10px;
}

.footer-container ul :hover {
  font-weight: 600;
}

@media only screen and (max-width: 750px) {
  .footer-container a {
    display: none;
  }
}

.super-container__contribuir {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 40vw;
  max-width: 100vw;
  padding: 50px 0;
  gap: 50px;
}

.form .form-left h1 {
  font-size: 40px;
}

.form .form-left p {
  width: 300px;
}

.form .form-left p span {
  color: gray;
}

.form .form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.form .form-right label {
  margin-bottom: -10px;
}

.form .form-right .form-input-text {
  border-radius: 0.7em;
  border: 2px solid gray;
  padding: 6px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.form .form-right .radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .form-right .radio-container label {
  margin: 0 7px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form .form-right .radio-container a {
  text-decoration: none;
}

.form .form-right .form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .form-right .form-buttons .form-enviar {
  padding: 7px;
  border-radius: 0.7em;
  border-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  height: 2.5em;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--red);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form .form-right .form-buttons .form-enviar:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.form .form-right .form-buttons .form-link {
  font-size: 0.8em;
  padding-left: 10px;
  text-align: right;
  text-decoration: none;
  font-style: normal;
  color: var(--accent);
}

@media only screen and (max-width: 640px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    width: 100vw;
  }
  .form .form-left p {
    width: 80vw;
    font-size: 1.1em;
  }
  .form .form-right {
    width: 80vw;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .form .form-right .form-input-text {
    padding: 14px;
  }
  .form .form-right .form-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form .form-right .form-buttons .form-enviar {
    height: 3em;
  }
}

.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .form-right {
  border-radius: 0.7em;
  padding: 60px;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 4px solid gray;
}

.contact .form-right textarea {
  height: 7em;
  resize: none;
}

.contact .form-right .form-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .form-right .form-redes p {
  margin: 0px;
}

.contact .form-right .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 640px) {
  .contact .form-right {
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */