@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Ubuntu&display=swap");
:root {
  --red: #CD113B;
  --debian: #027978;
  --accent: #52006A;
}

* {
  font-family: 'Kdam Thmor Pro', sans-serif;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

body {
  background-color: #EAF1F5;
}

.super-container1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.super-container2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--red);
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 70vw;
  max-width: 100vh;
}

.nav-container .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.nav-container .burger-menu {
  display: none;
}

@media only screen and (max-width: 640px) {
  .nav-container .burger-menu {
    display: block;
    outline: 1px solid magenta;
  }
}

@media only screen and (max-width: 640px) {
  .nav-container .nav-hide {
    display: none;
  }
}

.nav-container img {
  height: 30px;
}

.nav-container ul {
  list-style: none;
  gap: 10px;
}

.nav-container ul a {
  text-decoration: none;
  color: black;
  border-radius: 1em;
  -webkit-transition: 150ms;
  transition: 150ms;
  padding: 5px 10px;
}

.nav-container ul :hover {
  border-radius: 0.7em;
  color: white;
  background-color: var(--red);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.hero .hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero-left h1 {
  font-size: 40px;
}

.hero .hero-left h2 {
  font-size: 20px;
  min-width: none;
  max-width: 600px;
}

.hero .hero-left .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .hero-left .hero-buttons a {
  padding: 7px;
  border-radius: 0.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

.hero .hero-left .hero-buttons .hero-descargar {
  width: 100px;
  color: white;
  border: solid 2px var(--red);
  background-color: var(--red);
}

.hero .hero-left .hero-buttons .hero-instrucciones {
  width: 140px;
  color: black;
  border: solid 2px var(--red);
  -webkit-transition: 150ms;
  transition: 150ms;
}

.hero .hero-left .hero-buttons :hover {
  color: white;
  border: solid 2px var(--accent);
  background-color: var(--accent);
}

.hero .hero-right img {
  width: 250px;
  padding: 50px 0;
}

.waves {
  width: 100%;
  margin-top: 20px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 20px;
  width: 40vw;
}

.about .about-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.about .about-desc {
  padding: 0 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: white;
}

.centro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  color: white;
}

.centro .centro-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.centro .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  gap: 20px;
}

.centro .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 15px;
  width: 200px;
  height: 250px;
}

.centro .card .icon {
  color: var(--color3);
}

.centro .card p, .centro .card h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
}

.super-container__contribuir {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 40vw;
  max-width: 100vw;
  padding: 50px 0;
  gap: 50px;
}

.form .form-left h1 {
  font-size: 40px;
}

.form .form-left p {
  width: 300px;
}

.form .form-left p span {
  color: gray;
}

.form .form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.form .form-right label {
  margin-bottom: -10px;
}

.form .form-right .form-input-text {
  border-radius: 0.7em;
  border: 2px solid gray;
  padding: 6px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.form .form-right .form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .form-right .form-buttons .form-enviar {
  padding: 7px;
  border-radius: 0.7em;
  border-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  height: 2.5em;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--red);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form .form-right .form-buttons .form-enviar:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.form .form-right .form-buttons .form-link {
  font-size: 0.8em;
  padding-left: 10px;
  text-align: right;
}

@media only screen and (max-width: 640px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    width: 100vw;
  }
  .form .form-left p {
    width: 80vw;
    font-size: 1.1em;
  }
  .form .form-right {
    width: 80vw;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .form .form-right .form-input-text {
    padding: 14px;
  }
  .form .form-right .form-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form .form-right .form-buttons .form-enviar {
    height: 3em;
  }
}
/*# sourceMappingURL=style.css.map */